<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
    <div class="col-mb-12">
      <div class="card" style="width: 615px;">
          <div class="card-header" style="width: 615px;">
            <i class="fas fa-map-marker-alt"></i> Graph Plot
          </div>
          <div class="card-body" style="width: 615px;height: 420px;">
            <div style="flex-direction: column; display: flex;flex-wrap: wrap;align-items: stretch;width: 600px;">
              <form [formGroup]="choosetype" style="width: 580px;"> 
                <div class="form-group">
                  <label for="type">How to show boxplot : </label>
                  <select formControlName="type" class="form-control">
                    <option >-</option>
                    <option *ngFor="let t of typename">{{t.name}}</option>
                  </select>
                </div>
                </form>
                <div style="display: flex;justify-content: center;width: fit-content;">
                  <button type="button" (click)="getstationcode();plotbar();">PLOT</button>
                </div>
                  <div style="flex-direction:row;display: flex;flex-wrap: nowrap;height: 300px;align-items: center;justify-content: center;">
                    <div class="ui-g-12" id="box-container" style=" width: 580px; height: 250px;"></div>
                  </div>          
          </div>
      </div>
  </div>
  </div>
  <div class="col-mb-12">
    <div class="card" style="margin-top: 1em;width: 615px;">
        <div class="card-header" style="width: 615px;">
          <i class="fas fa-map-marker-alt"></i> Anomaly 
        </div>
        <div class="card-body" style="width: 615px;height: 300px;">
          <div style="flex-direction: column; display: flex;flex-wrap: wrap;align-items: stretch;width: 600px;">
                <div style="flex-direction:row;display: flex;flex-wrap: nowrap;align-items: center;height: 280px;justify-content: center;">
                  <div id="bar-container" style=" width: 580px; height: 280px;"></div>
                </div>            
        </div>

    </div>
</div>
</div>
</body>