<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>

  <div style="flex-direction: column; display: flex;flex-wrap: wrap;align-items: stretch;">
  <form [formGroup]="choosetype"> 
    <div class="form-group">
      <label for="type">How to show boxplot : </label>
      <select formControlName="type" class="form-control">
        <option >-</option>
        <option *ngFor="let t of typename">{{t.name}}</option>
      </select>
    </div>
    </form>

  <div class="space">
    <button type="button" (click)="getstationcode();selectmiss();plotbar();">PLOT</button>
  </div>

    <div style="flex-direction:row;display: flex;flex-wrap: nowrap;height: 300px;" *ngIf="checkbox=='check'">
        <highcharts-chart
          [Highcharts]="highcharts" 
          [options] = "chartOptions">
        </highcharts-chart>
    </div>

    <div style="flex-direction:row;display: flex;flex-wrap: nowrap;align-items: stretch;height: 300px;" *ngIf="checkbar=='check'">
      <highcharts-chart
        [Highcharts]="highchartsbar" 
        [options] = "chartOptionsbar">
      </highcharts-chart>
    </div>
  </div>


    <div *ngIf="checkmiss=='check'">
      <highcharts-chart
        [Highcharts]="highcharts1" 
        [options] = "chartOptions1" 
        style = "width: 100%; height: 500px; display: block;">
      </highcharts-chart>
    </div>



</body>