<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Attributions</title>
    <!-- Pointer events polyfill for old browsers, see https://caniuse.com/#feat=pointer -->
    <script src="https://unpkg.com/elm-pep"></script>
    <style>
      .map {
        width: 100%;
        height:400px;
      }
    </style>
  </head>
  <body>
    <form [formGroup]="choosefile"> 
      <div class="form-group">
        <label for="file">Select dataset : </label>
        <select formControlName="file" class="form-control">
          <option *ngFor="let f of filename">{{f.name}}</option>
        </select>
      </div>
    </form>

    <form [formGroup]="myForm">
      <ng-multiselect-dropdown
          name="city"
          [placeholder]="'Select Station'"
          [settings]="dropdownSettings"
          [data]="StationList"
          formControlName="city"
          [disabled]="disabled"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)">
      </ng-multiselect-dropdown>
  </form>
  <form [formGroup]="sstartyear"> 
    <div class="form-group">
      <label for="syear">Start year : </label>
      <select formControlName="syear" class="form-control">
        <option *ngFor="let y of yearList">{{y}}</option>
      </select>
    </div>
  </form>
  <form [formGroup]="eendyear"> 
    <div class="form-group">
      <label for="eyear">Stop year : </label>
      <select formControlName="eyear" class="form-control">
        <option *ngFor="let y of yearList">{{y}}</option>
      </select>
    </div>
  </form>
  <button (click)= "selectmiss();"> PLOT </button>
    <div *ngIf="check=='check'">
      <highcharts-chart
        [Highcharts]="highcharts" 
        [options] = "chartOptions" 
        style = "width: 70%; height: 550px; display: block;margin-left: 50px;">
      </highcharts-chart>
  </div>
  </body>
</html>

<head>
	
	<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
</head>

<body>
	<div id='myDiv'></div>
</body>