<h3>Station Base</h3>

<div class="selectzone">
    <div class="pad">
    <select id="file">
        <option value="tmean" selected>Average temperature </option>
        <option value="tmin">Minimum temperature</option>
        <option value="tmax">Maximum temperature</option>
        <option value="rain">Rain</option>
    </select>
    </div>
    <div class="pad">
    <select id="Station">
        <option value="s300201" selected>แม่ฮ่องสอน</option>
        <option value="s432301">สุรินทร์ สกษ.</option>
        <option value="s583201">นราธิวาส</option>
    </select>
    </div>
    <div class="pad">
        <select id="selecttime">
            <option value="y1950" selected>1951-1960</option>
            <option value="y1960">1961-1970</option>
            <option value="y1970">1971-1980</option>
            <option value="y1980">1981-1990</option>
            <option value="y1990">1991-2000</option>
            <option value="y2000">2001-2010</option>
            <option value="y2010">2011-2020</option>
        </select>
        </div>
    <button (click)="plot()"> SHOW </button>
</div>


<div id="chartContainer" style="height: 370px; width: 100%;"></div>