<div class="selectzone">
    <div class="pad">
    <select id="file">
        <option value="tmean" selected>Average temperature </option>
        <option value="tmin">Minimum temperature</option>
        <option value="tmax">Maximum temperature</option>
        <option value="rain">Rain</option>
    </select>
    </div>
    <div class="pad">
    <select id="Station">
        <option value="s300201" selected>แม่ฮ่องสอน</option>
        <option value="s432301">สุรินทร์ สกษ.</option>
        <option value="s583201">นราธิวาส</option>
    </select>
    </div>
   <button (click)= "Boxplot();"> PLOT </button>
</div>



<!-- <div id="linechartContainer" style="height: 370px; width: 50%;"></div> -->
<!-- <button (click)=""> PLOT </button> -->
<!-- <div id="chartContainer" style="height: 370px; width: 50%;"></div> -->


<div >
    <div >
        <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
            <div id="chartContainer" style="width: 45%; height: 300px;display: inline-block;"></div>
            <div id="linechartContainer" style="width: 45%; height: 300px;display: inline-block;"></div> 

    </div>
  </div>

