<head>
  <title>Box Selection</title>
  <link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css" type="text/css">
  <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
  <script src="https://openlayers.org/en/v4.6.5/build/ol.js"></script>
  <style>
    .ol-dragbox {
      background-color: rgba(255,255,255,0.4);
      border-color: rgba(100,150,0,1);
    }
  </style>
</head>
<div class="selectzone">
<body>
  <div id="map" class="map"></div>
  <div id="info">No countries selected</div>
</body>
</div>