<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>
<div class="selectzone">
    <form [formGroup]="choosedataset">
        <div class="form-group row">
            <label for="file" class="control-label col-sm-2">Select Dataset &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp;&nbsp;: </label>
            <div class="col-sm-10">
                <select formControlName="set" style="max-width:120%;" class="form-control">
                    <option>None</option>
                    <option *ngFor="let f of dataset_name">{{f.name}}</option>
                </select>
            </div>
        </div>
    </form>
    <form [formGroup]="choosefile">
        <div class="form-group row">
            <label for="file" class="control-label col-sm-2">Select Index &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp;&nbsp;: </label>
            <div class="col-sm-10">
                <select formControlName="file" style="max-width:120%;" class="form-control">
                    <option>None</option>
                    <option *ngFor="let f of filename">{{f.name}}</option>
                </select>
                <!-- <select formControlName="file" style="max-width:120%;" [(ngModel)]="selectedDataset" (change)="selected()" >
                    <option *ngFor="let item of filename" [ngValue]="item">{{item.name}}</option>
                </select> -->
            </div>
        </div>
    </form>

    <div class="form-group row">
        <label class="control-label col-sm-2">Selct Date &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;:
        </label>
        <div class="form-group hidden">
            <div class="input-group">
                <input name="datepicker" id="datepicker" class="form-control1" ngbDatepicker #datepicker="ngbDatepicker"
                    [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
                    outsideDays="hidden" [minDate]="{year: 1901, month: 1, day: 1}" [startDate]="fromDate!">
                <ng-template #t let-date let-focused="focused">
                    <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                        [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                        (mouseleave)="hoveredDate = null">
                        {{ date.day }}
                    </span>
                </ng-template>
            </div>
        </div>
        <div class="form-group row ">
            <div class="col-sm-10">
                <div class="input-group">
                    <input #dpFromDate class="form-control" placeholder="yyyy-mm-dd" name="dpFromDate"
                        [value]="formatter.format(fromDate)"
                        (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()"
                            type="button"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <div class="input-group">
                    <input #dpToDate class="form-control" placeholder="yyyy-mm-dd" name="dpToDate"
                        [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()"
                            type="button"><i class="bi bi-calendar3"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <i class="bi bi-map"></i>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="Map()"><span class="cil-contrast btn-icon mr-2"></span>
            Map</button>
        <button type="button" class="btn btn-secondary" (click)="grid()">Station</button>
    </div>
</div>

<!-- <div style="height: 500px; background-color: royalblue;"></div> -->

<div *ngIf="select == 'Map'">
    <app-netcdf [data]="choosedataset.controls['set'].value"
                [file]="choosefile.controls['file'].value" 
                [startyear]="this.fromDate.year"
                [stopyear]="this.toDate.year"
                [startmonth]="this.fromDate.month"
                [stopmonth]="this.toDate.month"></app-netcdf>
</div>
<div class="left" *ngIf="select == 'station'">
    <app-map></app-map>
</div>
<div class="right" *ngIf="select == 'station'">
    <app-boxplot    [file]="choosefile.controls['file'].value" 
                    [startyear]="this.fromDate.year"
                    [stopyear]="this.toDate.year"
                    [startmonth]="this.fromDate.month"
                    [stopmonth]="this.toDate.month"
                    [startday]="this.fromDate.day"
                    [stopday]="this.toDate.day"></app-boxplot>
</div>