/* body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181;
}
.navbar {
    margin-bottom: 0;
    background-color: #839eeb;
    z-index: 9999;
    border: 0;
    font-size: 20px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
    text-align: left ;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #839eeb !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  } */


  * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #5194fa;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #B3E5FC;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #79ace6 ;
  }
  
  /* Style the content */
  .content {
    padding: 10px;
    
  }