
<head>
  <title>Box Selection</title>
  <link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css" type="text/css">
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
  <script src="https://openlayers.org/en/v4.6.5/build/ol.js"></script>
  <style>
    .ol-dragbox {
      background-color: rgba(255,255,255,0.4);
      border-color: rgba(100,150,0,1);
    }
  </style>
</head>

<div class="selectzone">
  <h3> Main world map </h3>
  <p> Selected Month: <span id="selectedCountryName"></span> </p>
<div id="map" class="map" ></div>


