<head>
    <title>Box Selection</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://unpkg.com/elm-pep"></script>
    <script src="http://openlayers.org/en/v3.14.1/build/ol.js"></script>

</head>
 
<!-- <div class="container-fluid back"> -->
<div class="selectzone">
  <h3> World map </h3>
  <form role="form" class="form-inline">
    <form [formGroup]="choosefile"> 
      <div class="form-group">
        <label for="file" >Select dataset : </label>
        <div class="col-sm-5">
          <select formControlName="file" class="form-control">
            <option >None</option>
            <option *ngFor="let f of filename">{{f.name}}</option>
          </select>
        </div>
      </div>
      </form>
    </form>
    <br/>

    <form class="form-inline">
      <div class="input-group">  
        <label >Select Date &nbsp;&nbsp;&nbsp; : </label>
        <input name="datepicker" id="datepicker" class="form-control1" ngbDatepicker #datepicker="ngbDatepicker"
          [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
          outsideDays="hidden" [minDate]="{year: 1901, month: 1, day: 1}" [startDate]="fromDate!">
          <ng-template #t let-date let-focused="focused">
            <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
              [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null">
              {{ date.day }}
            </span>
          </ng-template>
        <div class="form-group col-md-4">
          <div class="input-group">
            <input #dpFromDate class="form-control" placeholder="yyyy-mm-dd" name="dpFromDate"
                [value]="formatter.format(fromDate)" (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"></button>
            </div>
          </div>
        </div>
        <div class="form-group col-md-4">
          <div class="input-group">
            <input #dpToDate class="form-control" placeholder="yyyy-mm-dd" name="dpToDate"
                [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"></button>
            </div>
          </div>
        </div>
        <button (click)="plotmap();" type="button" class="btn btn-primary">Plot</button>
      </div>
    </form>
</div>
<!-- </div> -->
  <div class="selectzone">
    <p><B>{{input_ds}} {{lenght_y}} {{years}}</B></p>
  </div>
  
  <!-- <p>{{input_ds}}{{verb}} {{lenght_y}} </p> -->
<div class="row">
  <div class="col-sm-8">
  <div id="map" class="map" ></div>
  <div class="selectzone">
    <div class="info">
      <svg class="legend" width="600" height="30"></svg>
    </div>
  </div>
  </div>
  <div class="col-sm-4">
    <p><B> Selected Country: </B><span id="selectedCountryName" style="color:rgb(255, 168, 7);font-weight:bold"></span> </p> 
    <p><B>Minimum {{input_ds}}: </B> <span id="selectedCountryMin" style="color:blue;font-weight:bold"></span> </p>
    <p><B>Maximum {{input_ds}}: </B> <span id="selectedCountryMax" style="color:red;font-weight:bold"></span> </p>
  </div>
</div>
  <!-- <div id="info">No countries selected</div> -->
  <!-- <script src="main.js"></script> -->
<!-- <div class="selectzone">
  <form class="row">
    <p><B> Selected Country: </B><span id="selectedCountryName" style="color:rgb(255, 168, 7);font-weight:bold"></span> </p> 
    <p style="padding-inline-start: 80px;"><B>Minimum {{input_ds}}: </B> <span id="selectedCountryMin" style="color:blue;font-weight:bold"></span> </p>
    <p style="padding-inline-start: 80px;"><B>Maximum {{input_ds}}: </B> <span id="selectedCountryMax" style="color:red;font-weight:bold"></span> </p>
  </form>
</div> -->

  
  <!-- <div class="info">
    <svg class="legend" width="600" height="30"></svg>
  </div> -->
  
  
  