.pad{
    font-family: Montserrat, sans-serif;
    margin-right: 10px;
    padding-right: 50px;
    display: inline-block;
  }

  .back{
    background-color: #a4e5ff;
    /* background-size: 10cm; */
  }
  .map{
    width: 52vw;
    height: 60vh;
    /* border-style: solid; */
    background-color: #ffffff;
    /* margin-top: 10px; */
    /* margin-left: 2px; */
    /* margin-right: 50px; */
    /* margin-bottom: 5px; */
  }
  .selectzone {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    /* background-color: #a4e5ff; */
    
    /* padding-left: 40px;
    padding-right: 40px; */
    /* height: 800px;
    width: 1000px; */

  }
.showmap{
  margin-top: 50px;
}
  .dat{
    margin-left: 30px;
  }
  canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  .chart-wrapper {
    width: 500px;
    height: 500px;
    position: relative;
  }

/* p{
  padding-inline-end: 200px;
} */

  select{
    font-size: 18px;
    display: block;
    width: 326px;
  }

  .custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #ffffff;
  }
  .custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
  }
  .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
  }
  .form-control1{
    display: none;
  }

  .main-content{
    height: 100%;
    width: 100%;
  }
  